h1{
    color: red;
    background-color: blue;
}
img{
    background-color: aqua;
}
h2{
    color: blueviolet;
    background-color: brown;
}
a{
    color: violet;
}
.mainheader{
    background-color: aquamarine;
    prefix: -moz-element();

}